.header {
  background: var(--white-color);
  border-bottom: 1px solid #ececec;
  font-family: var(--roboto);
}
.header-page {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 25px;
}
.navigation {
  display: flex;
  column-gap: 46px;
  align-items: center;
  padding-left: 0;
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    cursor: pointer;
  }
  &__active {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      border-radius: 2px;
      width: 100%;
      height: 4px;
      background-color: var(--blue-color);
      bottom: -32px;
      left: 0;
    }
  }
}
.contacts {
  display: flex;
  column-gap: 30px;
  align-items: center;
  &__link {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--gray-color);
    cursor: pointer;
    &:focus &:hover {
      fill: var(--blue-color);
    }
    &:hover,
    &:focus,
    &:active {
      color: var(--blue-color);
    }
  }
  &__icon {
    fill: var(--gray-color);
    &:focus,
    &:hover,
    &:active {
      fill: var(--blue-color);
    }
  }
}
