.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  font-family: var(--family);
  color: var(--blue-color);
  padding-right: 47px;
  @include tablet {
  }
  @include desktop {
    font-size: 26px;
  }
  &--light {
    color: var(--white-color);
    @include tablet {
    }
    @include desktop {
      font-size: 26px;
    }
  }
  &--dark {
    color: var(--black-color);
    @include tablet {
    }
    @include desktop {
      font-size: 26px;
    }
  }
}
