:root {
  --black-color: #000;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --dark-color: #212121;
  --gray-color: #757575;
  --lorem-color: #f5f4fa;
  --light-gray-color: #afb1b8;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --modal-color: rgba(0, 0, 0, 0.1);
  --family: 'Raleway';
  --roboto: 'Roboto';
}